body {
  background-color: darkred;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Times, sans-serif;
  text-align: center;
  padding: 0;
}


h1 {
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

h1 span {
  display: block;
  font-size: 50%;
}
